/* ======================================== BASE STYLES === */

/* === TYPOGRAPHY === */

body, h1, h2, h3, p {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    
}

.options-type {
    font-family: 'Arial', sans-serif;
}

.large-font {
    font-size: 4em;
}

* { margin: 0; padding: 0; }

/* === GLOBAL STYLES === */

body {
    background-color: rgb(250, 239, 224);
}

/* ================================================== COMPONENT STYLES === */
/* ======================================================================= */

/* === BUTTONS === */

.btn-primary {
    
}

/* === CARDS === */

.card {
    
}

/* ==================================================== SECTION STYLES === */
/* ======================================================================= */

/* === HEADER/NAVIGATION === */

.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left in this context) */
    background-color: rgb(250, 239, 224);
    padding-bottom: 100px;
}

.navbar-brand {
    margin-bottom: -1rem;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 3.5em;
    font-family: 'Courier Prime', Courier, monospace;
    color: black;
    align-self: flex-start; /* Ensure the brand aligns to the start (left in this context) */
}

.nav-item {
    display: inline-block;
    color: gray;
}

.navbar-nav {
    display: block;
    width: 100%; /* This will ensure it spans the full width of the navbar */
}

/* For small screens */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 2.8em; /* Decreased font size for the brand */
    }

    .nav-item {
        font-size: 0.9em; /* Decreased font size for the nav items */
    }
}
/* === HERO SECTION === */

.hero-section {
    background-size: cover; 
    background-position: center; 
    padding: 50px 0; /* Only vertical padding */
    position: relative; /* Relative positioning to control inner content */
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers children horizontally */
    justify-content: center;
    height: 80vh;
    width: 100%;
    z-index: 2; /* This ensures the hero section is above the nav */
    /* This clip-path creates a polygon shape that excludes the top left corner */
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%, 0 30%); 

}

@media (max-width: 530px) {
    .hero-section {
        clip-path: polygon(95% 0, 100% 0, 100% 100%, 0% 100%, 0 30%); 
    }
    .navbar-brand {
        margin-left: .5rem;
    }
}

@media (max-width: 350px) {
    .hero-section {
        clip-path: polygon(100% 10%, 100% 0%, 100% 100%, 0% 100%, 0 30%); 
    }
}

.text-group {
    position: absolute; /* Absolute positioning within the hero-section */
    top: 5%; /* Adjust this value to position the text in the desired location */
    max-width: 90%;
}

.hero-section h1 {
    font-size: 2em;   
}
.hero-subtitle {
    font-size: 1.2em;
    margin-top: 23em;
    color: white;
    background-color: black;
}
.hero-btn {
    position: absolute;
    top: 40%;
}

.hero-section h1, .hero-section {
    border-radius: 5px; 
    color: black;
}

.text-group, .hero-section h1 {
    width: auto;
    max-width: none;
}

@media (max-width: 767px) {
    .hero-section h1 {
        font-size: 1.5em;   
    }
}

/* === ABOUT SECTION === */

#about {
    background-color: rgb(250, 239, 224);
}

/* === EVENTS SECTION === */

#events {
    background-color: rgb(250, 239, 224);
}

.container h4 {
    font-weight: bold;
}

.date-square {
    background-color: black;
    width: 120px;  /* Adjust this value to your desired width */
    height: 120px; /* Adjust this value to your desired height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the content vertically */
}

.bold {
    font-weight: bold;
}

/* === GALLERY SECTION === */


/* === CONTACT SECTION === */

#contact {
    background-color: rgb(250, 239, 224);
}

/* === FOOTER === */

.footer-info {
    background-color: rgb(250, 239, 224);
    color: gray;
    margin-bottom: 0;
    padding: 1em 0;
}

/* ======================================== UTILITY/HELPER CLASSES === */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* ======================================== MEDIA QUERIES === */

/* === MOBILE STYLES: === */

@media (max-width: 767px) {

}

/* === TABLET STYLES === */
@media (min-width: 768px) {
    /* Styles for tablet devices */
}

/* === DESKTOP STYLES === */
@media (min-width: 992px) {
    /* Styles for desktop */
}

/* === LARGE DESKTOP STYLES === */
@media (min-width: 1200px) {
    /* Styles for large screens */
}
